requests == 2.32.3
selenium == 4.27.1
moviepy == 2.1.1
speechrecognition == 3.13.0
pydub == 0.25.1
transformers 
datasets[audio] 
accelerate
torch==2.5.0 
torchvision==0.20.0 
torchaudio==2.5.0
openai==1.57.0